<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8" />
  <!-- <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png"> -->
  <!-- <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <!-- <link href="{% static 'assets/css/bootstrap.min.css" rel="stylesheet" /> -->
  <!-- <link href="{% static 'assets/css/now-ui-dashboard.css?v=1.1.2" rel="stylesheet" /> -->
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="{% static 'assets/demo/demo.css" rel="stylesheet" /> -->


  <link rel="apple-touch-icon" sizes="76x76"  href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png"  href="{% static 'assets/img/favicon.png' %}">
  <link rel="stylesheet"  href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet"  href="{% static 'assets/css/now-ui-dashboard.css' %}">
  <link rel="stylesheet"  href="{% static 'assets/demo/demo.css' %}">


</head>

<body class=" sidebar-mini ">
<div class="wrapper ">
<div class="sidebar" data-color="orange">
  <!--  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"  -->
  <div class="logo"> <a href="../admin_home" class="simple-text logo-mini"> UN </a> <a href="#" class="simple-text logo-normal"> User Name </a>
    <div class="navbar-minimize">
      <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round"> <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i> <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i> </button>
    </div>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active"> <a href="../user_home"> <i class="now-ui-icons design_app"></i>
        <p>Models</p>
        </a> </li>
      <li> <a href="../user_profile"> <i class="now-ui-icons users_single-02"></i>
        <p>Profile</p>
        </a> </li>
      <li> <a href="../"> <i class="now-ui-icons media-1_button-power"></i>
        <p>Log Out</p>
        </a> </li>
    </ul>
  </div>
</div>
<div class="main-panel">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary ">
  <div class="container-fluid">
    <div class="navbar-wrapper"> <a class="navbar-brand" href="#">Models</a> </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <div class="input-group-text"> <i class="now-ui-icons ui-1_zoom-bold"></i> </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header panel-header-sm"> </div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Model 1 - <small class="description">2016 U.S Presidential county election</small> </h4>
        </div>
        <div class="card-body ">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist"> Introduction </a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#link2" role="tablist"> Example data </a> </li>
          </ul>
          <div class="tab-content tab-space">
            <div class="tab-pane active" id="link1">
              <!-- <img src="{% static 'assets/img/election_map.png' %}" alt="My image"> -->
              <img src="{% static 'assets/img/election_map.png' %}" style="display:block;"> For this competition, we’ve decided to use the 2016 U.S Presidential county election data as our dataset. Every county is represented with 3 data points: longitude, latitude and elected candidate. <br />
              <br />
              For example, a data point can look something like this: `[047606200, 122332100, 0]`.
              The first two values refers to the latitude and longitude of Seattle.
              The third value, 0 refers to the Democratic candidate, whereas 1 refers to Republican candidate in this data format <br />
              <br />
              500 random data points are selected as the dataset for this competition. 80% of this dataset will be used for training. The remaining 20% of the dataset will be used for evaluating the dataset. Since the training and testing datasets are randomly selected by the contract, the fairness of the competition is assured. <br />
              <br />
              Participants of the contract are required to train a simple forward pass neural network where they can define the neural network structure in terms of layers, neurons and biases. After training, they are required to submit their network definition, weights and biases to the contract. <br />
              <br />
              The reward for the winning submission is 5 ethereum. </div>
            <div class="tab-pane" id="link2"> We provide one example of the data for you. <br />
              <br />
              Click <a href="data/zip_codes_states.csv">here</a> to download. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Upload Data</h4>
        </div>
        <div class="card-body ">
          <form method="post" action="../result" class="form-horizontal">
            <div class="row">
              <label class="col-sm-2 col-form-label">Handle Missing Values</label>
              <div class="col-sm-5 checkbox-radios">
                <div class="form-check form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadio" id="exampleRadios3" value="option1">
                    <span class="form-check-sign"></span> Ignore Missing Values </label>
                </div>
                <div class="form-check form-check-radio">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="exampleRadio" id="exampleRadios4" value="option2" checked>
                    <span class="form-check-sign"></span> Replace Missing Values </label>
                </div>
              </div>
              <div class="col-sm-4 col-sm-offset-1 checkbox-radios">
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span> Binning </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked>
                    <span class="form-check-sign"></span> Regression </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox">
                    <span class="form-check-sign"></span> Clustering </label>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 col-form-label">Upload Data File</label>
              <div class="col-sm-10">
                <div class="form-group"> <span class="btn btn-success fileinput-button"> <span>Choose...</span>
                  <input type="file">
                  </span> </div>
              </div>
            </div>
            <div class="row">
            <label class="col-sm-2 col-form-label"></label>
              <div class="col-sm-10">
                <div class="form-group">
                  <!-- <input type="submit" class="form-control" value="Upload"> -->
                  <button type="button" class="btn btn-lg btn-primary btn-fill"
                         onclick='let timerInterval
                         swal({
                          title: "Processing Data",
                          timer: 5000,
                          onOpen: () => {
                            swal.showLoading()
                          },
                          onClose: () => {
                            window.location.href="../result";
                          }
                        }).then((result) => {
                          if (
                            // Read more about handling dismissals
                            result.dismiss === swal.DismissReason.timer
                          ) {
                            console.log("I was closed by the timer")
                          }
                        })'
                        >
                    Upload
                  </button>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Upload</button>
  </form>

  <footer class="footer">
    <div class="container-fluid">
      <nav>
        <ul>
          <li> <a href="#"> Creative Tim </a> </li>
          <li> <a href="#"> About Us </a> </li>
          <li> <a href="#"> Blog </a> </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright"> &copy;
        <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>, Designed by <a href="#" target="_blank">Invision</a>. Coded by <a href="#" target="_blank">Creative Tim</a>. </div>
    </div>
  </footer>
</div>
<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/moment.min.js' %}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static 'assets/js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="{% static 'assets/js/plugins/sweetalert2.min.js' %}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{% static 'assets/js/plugins/jquery.validate.min.js' %}"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="{% static 'assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="{% static 'assets/js/plugins/bootstrap-datetimepicker.js' %}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static 'assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static 'assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="{% static 'assets/js/plugins/fullcalendar.min.js' %}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{% static 'assets/js/plugins/jquery-jvectormap.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'assets/js/plugins/nouislider.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/now-ui-dashboard.min.js' %}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/demo/demo.js' %}"></script>

<script>
showSwal: function(type) {
	swal('Any fool can use a computer');
}
</script>
</body>
</html>
