Upload Home
<br>
<br>
<a href="{% static '../upload' %}"> Upload Data</a>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<link rel="stylesheet"  href="{% static 'assets/demo/demo.js' %}">
