<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->


  <link rel="apple-touch-icon" sizes="76x76"  href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png"  href="{% static 'assets/img/favicon.png' %}">
  <link rel="stylesheet"  href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet"  href="{% static 'assets/css/now-ui-dashboard.css' %}">
  <link rel="stylesheet"  href="{% static 'assets/demo/demo.css' %}">


</head>

<body class=" sidebar-mini ">
<div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <!--  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"  -->
      <div class="logo">
        <a href="{% static '../admin_home' %}" class="simple-text logo-mini">
          {{ user.email.0 }}{{ user.email.1 }}
        </a>
        <a href="#" class="simple-text logo-normal">
          {{ user.get_short_name }}
        </a>
        <div class="navbar-minimize">
          <button id="minimizeSidebar" class="btn btn-simple btn-icon btn-neutral btn-round">
            <i class="now-ui-icons text_align-center visible-on-sidebar-regular"></i>
            <i class="now-ui-icons design_bullet-list-67 visible-on-sidebar-mini"></i>
          </button>
        </div>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a class = "active" href="{% static '../user_home' %}">
              <i class="now-ui-icons design_app"></i>
              <p>Models</p>
            </a>
          </li>
          <li>
            <a href="{% static '../user_profile' %}">
              <i class="now-ui-icons users_single-02"></i>
              <p>Profile</p>
            </a>
          </li>
                      {#   if it's admin then show upload model     #}
        {% if  user.get_is_staff %}
            <li>
                <a href ="{% url 'upload_model:home' %}">
                <i class = "now-ui-icons files_box"></i>
                <p>My Model</p>
                </a>
            </li>
        {% endif %}
          <li>
            <a href="{% url 'logout' %}">
              <i class="now-ui-icons media-1_button-power"></i>
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

<div class="main-panel">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary ">
  <div class="container-fluid">
    <div class="navbar-wrapper"> <a class="navbar-brand" href="#">Models</a> </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <form>
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <div class="input-group-text"> <i class="now-ui-icons ui-1_zoom-bold"></i> </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<div class="panel-header panel-header-sm"> </div>
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">{{model.model_name}}<small class="description">{{ model.creation_time }}</small> </h4>
        </div>
        <div class="card-body">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#link2" role="tablist"> Your data result </a> </li>
            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#link1" role="tablist"> Users data result </a> </li>
          </ul>
          <div class="tab-content tab-space">
            <div class="tab-pane" id="link1">
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <canvas id="chart1" width="100" height="100"></canvas>
                </div>
                <div class="col-md-4">
                  <table class="table">
                    <tbody>
                      <tr class="table-info">
                        <td>
                          Accuracy
                        </td>
                        <td>
                          Precision
                        </td>
                      </tr>
                      <tr>
                        <td>
                          80%
                        </td>
                        <td>
                          90%
                        </td>
                      </tr>
                      <tr class="table-info">
                        <td>
                          Recall
                        </td>
                        <td>
                          F1 Score
                        </td>
                      </tr>
                      <tr>
                        <td>
                          80%
                        </td>
                        <td>
                          90
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <canvas id="chart2" width="100" height="100"></canvas>
                </div>
                <div class="col-md-3">
                  <canvas id="chart3" width="100" height="100"></canvas>
                </div>
                <div class="col-md-3">
                 <canvas id="chart4" width="100" height="100"></canvas>
                </div>
                <div class="col-md-3">
                  <canvas id="chart5" width="100" height="100"></canvas>
                </div>
              </div>
              <div class="row">
                <div class="card card-plain">
                  <div class="card-header" role="tab" id="headingOne">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      More Info
                      <i class="now-ui-icons arrows-1_minimal-down"></i>
                    </a>
                  </div>
                  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">
                      <table class="table text-center">
                        <thead class=" text-primary">
                          <th>User</th>
                          <th>Data Size</th>
                          <th>Accuracy</th>
                          <th>Precision</th>
                          <th>Recall</th>
                          <th>F1 Score</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>1</td>
                            <td>592</td>
                            <td>90%</td>
                            <td>64%</td>
                            <td>68%</td>
                            <td>78</td>
                          </tr>
                          <tr>
                            <td>2</td>
                            <td>865</td>
                            <td>67%</td>
                            <td>87%</td>
                            <td>84%</td>
                            <td>79</td>
                          </tr>
                          <tr>
                            <td>3</td>
                            <td>765</td>
                            <td>58%</td>
                            <td>34%</td>
                            <td>62%</td>
                            <td>34</td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>467</td>
                            <td>58%</td>
                            <td>83%</td>
                            <td>73%</td>
                            <td>76</td>
                          </tr>
                          <tr>
                            <td>5</td>
                            <td>1534</td>
                            <td>68%</td>
                            <td>86%</td>
                            <td>49%</td>
                            <td>56</td>
                          </tr>
                          <tr>
                            <td>6</td>
                            <td>2349</td>
                            <td>77%</td>
                            <td>64%</td>
                            <td>86%</td>
                            <td>58</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane active" id="link2">
            {% if result_md is not None %}
              <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                  <canvas id="chart6" width="100" height="100"></canvas>
                </div>
                <div class="col-md-4">
                  <table class="table">
                    <tbody>
                      <tr class="table-info">
                        <td>
                          Accuracy
                        </td>
                        <td>
                          Precision
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ accuracy|floatformat:2 }}
                        </td>
                        <td>
                          {{ precision.0|floatformat:2 }}
                        </td>
                      </tr>
                      <tr class="table-info">
                        <td>
                          Recall
                        </td>
                        <td>
                          F1 Score
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {{ recall.0|floatformat:2 }}
                        </td>
                        <td>
                          {{ f1_score.0|floatformat:2 }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            {% else %}
            <h2>Sorry, the admin hasn't upload the original data</h2>
            {% endif %}
              <div class="row">
                <div class="card card-plain">
                  <div class="card-header" role="tab" id="headingTwo">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      My Uploaded Data
                      <i class="now-ui-icons arrows-1_minimal-down"></i>
                    </a>
                  </div>
                  <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-body ">
                      {% for image in images %}
                          <img src='/static/{{image}}' height="100" width="100"/>
                      {% endfor %}
                    </div>
                    <div class="card-body ">
                      <a href="../run"><button class="btn btn-primary btn-round">Run the Model with uploaded data</button></a>
                      &nbsp;
                      <a href="../clear"><button class="btn btn-primary btn-round">Clear Uploaded Data</button></a>
                      &nbsp;
                      <a href="../result"><button class="btn btn-primary btn-round">View Result</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          <h4 class="card-title">Upload Data</h4>
        </div>

        <div class="card-body ">
            <form  method = "post" enctype="multipart/form-data" action ="{% url "upload_model:upload_data" %}" class="form-horizontal">
            {% csrf_token %}
            <div class = "row">
                <label class="col-sm-2 col-form-label">data description</label>
                <div class="col-sm-7">
                    <div class="form-group">
                        <input class="form-control" type="text" name="description" required="false">
                        </input>
                    </div>
                </div>
            </div>
            <div class = "row">
                <label class="col-sm-2 col-form-label">data file</label>
                <div class="col-sm-10">
                    <div class="col-sm-2">
                        <div class="form-group"><span class = "btn btn-success fileinput-button"><span>Choose...</span>
                                        <input name = "data_file" type="file">
                                    </span>
                        </div>
                    </div>
                    <span class="form-text">Original data set without header, the order of each data should follow specification order, the last column is always the actual label</span>
                </div>
            </div>
            {#hidden input#}
            <input type = "hidden" name ="data_type" value="{% if user.get_is_staff %}OR{% else %}TE{% endif %}"/>
            <input type = "hidden" name ="uploader" value ="{{ user.pk }}"/>
            <input type = "hidden" name = "relative_model" value="{{ model.pk }}">
            <div class="row">
                <label class="col-sm-2 col-form-label"></label>
                <div class ="col-sm-10">
                    <div class = "form-group">
                        <button type="submit" class = "btn btn-lg btn-primary btn-fill" >upload</button>
                    </div>
                </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/moment.min.js' %}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script src="{% static 'assets/js/plugins/bootstrap-switch.js' %}"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="{% static 'assets/js/plugins/sweetalert2.min.js' %}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{% static 'assets/js/plugins/jquery.validate.min.js' %}"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="{% static 'assets/js/plugins/jquery.bootstrap-wizard.js' %}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="{% static 'assets/js/plugins/bootstrap-datetimepicker.js' %}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script src="{% static 'assets/js/plugins/jquery.dataTables.min.js' %}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="{% static 'assets/js/plugins/bootstrap-tagsinput.js' %}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="{% static 'assets/js/plugins/jasny-bootstrap.min.js' %}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="{% static 'assets/js/plugins/fullcalendar.min.js' %}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="{% static 'assets/js/plugins/jquery-jvectormap.js' %}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="{% static 'assets/js/plugins/nouislider.min.js' %}"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{% static 'assets/js/now-ui-dashboard.min.js' %}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="{% static 'assets/demo/demo.js' %}"></script>
<script>
var ctx = document.getElementById("chart1").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ["Accuracy", "Precision", "Recall", "F1 Score"],
        datasets: [{
            label: 'Average Data Performance',
            data: [{{ accuracy }}, {{ precision.0|floatformat:2 }}, {{ recall.0|floatformat:2 }}, {{ f1_score.0|floatformat:2 }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 2
        }]
    },
    options: {
		scale: {
			ticks: {
				beginAtZero: true
			}
		}
	}
});
</script>
<script>
var ctx = document.getElementById("chart2").getContext('2d');
var myChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: ['User 1', 'User 2', 'User 3', 'User 4', 'User 5', 'User 6', 'User 7'],
		datasets: [{
			label: 'Accuracy',
			backgroundColor: [
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)'
            ],
			data: [22, 25, 31, 29, 27, 25, 21],
			fill: true,
		}]
	},
	options: {
		responsive: true
	}
});
</script>
<script>
var ctx = document.getElementById("chart3").getContext('2d');
var myChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: ['User 1', 'User 2', 'User 3', 'User 4', 'User 5', 'User 6', 'User 7'],
		datasets: [{
			label: 'Precision',
			backgroundColor: [
                'rgba(255, 206, 86, 0.2)'
            ],
            borderColor: [
                'rgba(255, 206, 86, 1)'
            ],
			data: [15, 17, 19, 23, 21, 19, 16],
			fill: true,
		}]
	},
	options: {
		responsive: true
	}
});
</script>
<script>
var ctx = document.getElementById("chart4").getContext('2d');
var myChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: ['User 1', 'User 2', 'User 3', 'User 4', 'User 5', 'User 6', 'User 7'],
		datasets: [{
			label: 'Recall',
			backgroundColor: [
                'rgba(75, 192, 192, 0.2)'
            ],
            borderColor: [
                'rgba(75, 192, 192, 1)'
            ],
			data: [12, 23, 26, 32, 27, 22, 21],
			fill: true,
		}]
	},
	options: {
		responsive: true
	}
});
</script>
<script>
var ctx = document.getElementById("chart5").getContext('2d');
var myChart = new Chart(ctx, {
	type: 'line',
	data: {
		labels: ['User 1', 'User 2', 'User 3', 'User 4', 'User 5', 'User 6', 'User 7'],
		datasets: [{
			label: 'F1 Score',
			backgroundColor: [
                'rgba(153, 102, 255, 0.2)'
            ],
            borderColor: [
                'rgba(153, 102, 255, 1)'
            ],
			data: [12, 23, 26, 28, 26, 21, 17],
			fill: true,
		}]
	},
	options: {
		responsive: true
	}
});
</script>
<script>
var ctx = document.getElementById("chart6").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'radar',
    data: {
        labels: ["Accuracy", "Precision", "Recall"],
        datasets: [{
            label: 'Average Data Performance',
            data: [79, 65, 54],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)'
            ],
            borderWidth: 2
        }]
    },
    options: {
		scale: {
			ticks: {
				beginAtZero: true
			}
		}
	}
});
</script>
</body>
</html>
