<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="assets/img/data61-logo-black.png" sizes="76x76" href="assets/img/data61-logo-black.png">
  <link rel="icon" type="assets/img/data61-logo-black.png" href="assets/img/data61-logo-black.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
 <link href="{{ url_for('static',filename='font1.css') }}" rel="stylesheet" type= "text/css"/>
  <link href="{{ url_for('static',filename='font2.css') }}" rel="stylesheet" type= "text/css">
  <!-- CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/now-ui-dashboard.css') }}">

</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="black">
      <!--  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"  -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          AN
        </a>
        <a href="#" class="simple-text logo-normal">
          Admin Name
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="#">
              <p><font color="black">Models</font></p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('admin_profile') }}">
              <p>Profile</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('admin_submission') }}">
              <p>Submissions</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('model_evaluation') }}">
              <p>Data Evaluation & Similarity</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('index') }}">
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">Data & Models</a>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Machine Learning Model Upload</h5>
                <p class="category">Please upload your ML Model set using the relevant link below. Please note you are only able to view and upload a maximum of one ML model</p>
              </div>
              <div class="card-body all-icons">
                <div class="row">
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <p>Model</p>
                       <div class="image-upload">
                          </label>
                            <label for="file">Upload ML Model</label>
                              <input id="file-input" type="file"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          </nav>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static',filename='assets/js/jquery.min.js')}}"></script>
  <!-- Forms Validations Plugin -->
  <script src="{{ url_for('static',filename='assets/js/jquery.validate.min.js')}}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static',filename='assets/js/bootstrap-notify.js')}}"></script>
  <script src="{{ url_for('static',filename='assets/demo.js')}}"></script>
  <script>
    $(document).ready(function() {
      demo.checkFullPageBackgroundImage();
    });
  </script>
</body>

</html>
