{% block content %}
    <h1>Data Submission</h1>
    <form method="POST" action="/blockchain/user">
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}
        </p>
        <p>
            {{ form.data.label }}<br>
            {{ form.data(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
