<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="assets/img/data61-logo-black.png" sizes="76x76" href="assets/img/data61-logo-black.png">
  <link rel="icon" type="assets/img/data61-logo-black.png" href="assets/img/data61-logo-black.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Blockchain Boosting Trustworthy AI
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/now-ui-dashboard.css') }}">

</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color= "black">
      <!--  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"  -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          UN
        </a>
        <a href="#" class="simple-text logo-normal">
          User Name
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="#">
              <p><font color="black">Data & Models</font></p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('user_profile') }}">
              <p>Profile</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('model_search') }}">
              <p>Model Search</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('data_evaluation') }}">
              <p>Data Evaluation & Similarity</p>
            </a>
          </li>
          <li>
            <a href="{{ url_for('index') }}">
              <p>Log Out</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute bg-primary ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#">Data & Models</a>
          </div>
          <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form>
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <div class="input-group-text">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Data Upload</h5>
                <p class="category">Please upload your data set using the relevant links below. Please note you are only able to view and upload a maximum of one data set</p>
              </div>
              <div class="card-body all-icons">
                <div class="row">
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <i class="now-ui-icons arrows-1_share-66"></i>
                      <p>Data Set 1</p>
                      <div class="image-upload">
                          </label>
                            <label for="file">Data in csv format</label>
                              <input id="file-input" type="file"/>
                        </div>
                    </div>
                  </div>
                </div>
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <ul>
                        {% for message in messages %}
                        <h6>{{ message }}</h6>
                        {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <form method="POST" action="/blockchain/user">
                    <p>
                        {{ form.data.label }}<br>
                        {{ form.data(size=32) }}
                    </p>
                    <p>{{ form.submit(class='btn btn-primary btn-round btn-lg btn-block mb-3') }}</p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static', filename='js/jquery.min.js') }}" type="text/javascript"></script>
  <!-- Forms Validations Plugin -->
  <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}" type="text/javascript"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static', filename='js/bootstrap-notify.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/demo.js') }}" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      demo.checkFullPageBackgroundImage();
    });
  </script>
</body>

</html>
